@using System.Globalization
@model ResponseViewModel

<div>
    <table bgcolor="#101010">
        <thead>
            <th>
                Best maps:
            </th>
            <th colspan="@Model.MaxCards">
                Value sources:
            </th>
        </thead>
        <tbody>
            @foreach (MapViewModel map in Model.Maps)
            {
                int count = 0;
                string mapLink = $"https://poedb.tw/us/{map.Name.Replace(' ', '_')}";
                <tr>
                    <td class="map-name">
                        <p style="margin-bottom: 0px;"><a href="@mapLink">@map.Name</a>(@map.Value.ToString("F1"))</p>
                    </td>
                    @foreach (DivCardViewModel card in map.ValueSources)
                    {
                        count++;
                        string valueText = card.Value.ToString("F1", CultureInfo.InvariantCulture);
                        string tooltipText = valueText;
                        if (Model.StackSizeCoef || Model.DropRateCoef)
                            tooltipText += " = " + card.ChaosValue.ToString("F1") + "(original chaos value)" +
                            (Model.StackSizeCoef ? " * " + card.StackSizeCoef.ToString("F2", CultureInfo.InvariantCulture) + "(stack size coef)" : "") +
                            (Model.DropRateCoef ? " * " + card.DropRateCoef.ToString("F2", CultureInfo.InvariantCulture) + "(drop rate coef)" : "");
                        else
                            tooltipText += "(original chaos value)";

                        string cardLink = "https://poe.ninja/economy/affliction/divination-cards/" +
                                            card.Name.Replace(' ', '-').Replace("'", "").ToLower();
                        <td class="card-name">
                            <div style="display: inline-block">
                                <a href="@cardLink">@card.Name</a>
                            </div>
                            <div style="display: inline-block">
                                <p class="table-tooltip-text" data-toggle="tooltip" data-placement="bottom" title="@tooltipText">
                                    (@valueText)
                                </p>
                            </div>
                        </td>
                    }
                    @for (; count < Model.MaxCards; count++)
                    {
                        <td></td>
                    }
                </tr>
            }
        </tbody>
    </table>
</div>

<script>
    $(function () {
        $("[data-toggle='tooltip']").tooltip();
    });
</script>